*/*/__pycache__/
__pycache__/*
*.o
*.d
*.a
*.so
*.bin
*.elf
*.fbi
*.pcap
*.prof
*/.ipynb_checkpoints
/doc/manual/_build
/build
/dist
*/.egg-info
/.coverage
/src/artiq/test/lit/*/Output/
/src/artiq/binaries
/src/artiq/firmware/target/
misoc_*/
/src/artiq_*/
.github

/src/artiq/test/results
/src/artiq/examples/*/results
/src/artiq/examples/*/last_rid.pyon
/src/artiq/examples/*/dataset_db.pyon

# when testing ad-hoc experiments at the root:
/src/repository/
/results
/last_rid.pyon
/dataset_db.pyon
/device_db*.py
/test*
